In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# Load the dataset
dataset =pd.read_csv ('C:/Users/thale/Desktop/Piyose/urbanandruralpopulation new.csv')  # Replace with actual path
dataset

           country Code country  Year  Urban population Rural population
0      Afghanistan          AFG  1960            724373          7898093
1      Afghanistan          AFG  1961            763336          8026804
2      Afghanistan          AFG  1962            805062          8163985
3      Afghanistan          AFG  1963            849446          8308019
4      Afghanistan          AFG  1964            896820          8458694
...            ...          ...   ...               ...              ...
14163     Zimbabwe          ZWE  2017           4755312          9995789
14164     Zimbabwe          ZWE  2018           4848158         10204026
14165     Zimbabwe          ZWE  2019           4945719         10408889
14166     Zimbabwe          ZWE  2020           5052214         10617452
14167     Zimbabwe          ZWE  2021           5166388         10827136

[14168 rows x 5 columns]

In [12]:
#Understand the size
print("Dataset size (rows, columns):", dataset.shape)

Dataset size (rows, columns): (14168, 5)

In [13]:
#columns
print("\nColumns in the dataset:", dataset.columns)

Columns in the dataset: Index(['country', 'Code country', 'Year', 'Urban population',
       'Rural population'],
      dtype='object')

In [14]:
#datatypes
print("\nData types of each column:\n", dataset.dtypes)

Data types of each column:
 country             object
Code country        object
Year                 int64
Urban population     int64
Rural population    object
dtype: object

In [15]:
#Get basic static for numerical columns
print("\nSummary statistics for numerical columns:")
print(dataset.describe())

Summary statistics for numerical columns:
               Year  Urban population
count  14168.000000      1.416800e+04
mean    1990.533879      5.097131e+07
std       17.895499      2.442102e+08
min     1960.000000      8.590000e+02
25%     1975.000000      2.385732e+05
50%     1991.000000      2.029394e+06
75%     2006.000000      8.821502e+06
max     2021.000000      4.454153e+09

In [16]:
# Check for missing data
missing_data = dataset.isnull().sum()
print("\nMissing values in each column:\n", missing_data)

Missing values in each column:
 country             0
Code country        0
Year                0
Urban population    0
Rural population    0
dtype: int64

In [17]:
# Slice the dataset - Display rows 0 to 5 and columns 'Year', 'Urban population', 'Rural population'
print("\nSlicing data (rows 0-5, columns 'Year', 'Urban population', 'Rural population'):")
print(dataset.loc[0:5, ['Year', 'Urban population', 'Rural population']])

Slicing data (rows 0-5, columns 'Year', 'Urban population', 'Rural population'):
   Year  Urban population Rural population
0  1960            724373          7898093
1  1961            763336          8026804
2  1962            805062          8163985
3  1963            849446          8308019
4  1964            896820          8458694
5  1965            947332          8617815

In [22]:
# Step 1: Handling missing data
# Filling missing values for numeric columns with their mean
numeric_cols = dataset.select_dtypes(include=[np.number]).columns  # Select numeric columns
dataset[numeric_cols] = dataset[numeric_cols].fillna(dataset[numeric_cols].mean())

# Step 2: For non-numeric columns, fill missing values with mode (most frequent value)
non_numeric_cols = dataset.select_dtypes(exclude=[np.number]).columns
for col in non_numeric_cols:
    mode_value = dataset[col].mode()[0]  # Get the mode (most frequent value)
    dataset[col] = dataset[col].fillna(mode_value)  # Assign filled values back to the DataFrame

# Step 3: Normalizing 'Urban population' and 'Rural population' using MinMaxScaler
# Check if the columns exist and are numeric
if 'Urban population' in numeric_cols and 'Rural population' in numeric_cols:
    scaler = MinMaxScaler()  # Use Min-Max Scaling to normalize between 0 and 1
    dataset[['Urban population', 'Rural population']] = scaler.fit_transform(dataset[['Urban population', 'Rural population']])

# Step 4: Checking if the data is now clean and normalized
print("\nData after cleaning and normalization (first 5 rows):")
print(dataset.head())

Data after cleaning and normalization (first 5 rows):
       country Code country  Year  Urban population Rural population
0  Afghanistan          AFG  1960            724373          7898093
1  Afghanistan          AFG  1961            763336          8026804
2  Afghanistan          AFG  1962            805062          8163985
3  Afghanistan          AFG  1963            849446          8308019
4  Afghanistan          AFG  1964            896820          8458694

In [23]:
#saving cleaned dataset
dataset.to_csv("cleaned_dataset,csv",index=False)